<div class="el__leafmedia el__leafmedia--sourced-paragraph">
    <p class="zn-body__paragraph speakable"><cite class="el-editorial-source"> (CNN)</cite>The school shooting was over in seconds. But it could have dragged on longer and proven deadlier were it not for the rapid response of a school resource officer. </p>
</div>
<div class="zn-body__paragraph speakable"><a href="https://www.cnn.com/2018/03/20/us/great-mills-high-school-shooting/index.html">When a 17-year-old gunman walked into Maryland's Great Mills High School on Tuesday</a>, the swift action of the school's sole resource officer, Blaine Gaskill, was instrumental in bringing the incident to a quick end. </div>
<div class="zn-body__paragraph speakable">Gaskill's response was hailed as an example of exactly what a resource officer is supposed to do in such a circumstance, particularly when contrasted to the actions of the security officer in last month's shooting in Parkland, Florida. (In the incident at Marjory Stoneman Douglas High School on February 14, the armed school resource deputy <a href="https://www.cnn.com/2018/02/22/us/florida-school-shooting/index.html">waited outside the school building as the shooter gunned down students inside</a>.)</div>
<div class="zn-body__paragraph">"He responded exactly how we train our personnel to respond," St. Mary's County Sheriff Tim Cameron told reporters. </div>
<div class="ad ad--epic ad--mobile" data-ad-text="show">
    <div data-ad-id="ad_rect_atf_02" data-ad-position="mobile" data-ad-refresh="default"></div>
</div>
<div class="ad ad--epic ad--tablet" data-ad-text="show">
    <div data-ad-id="ad_rect_atf_02" data-ad-position="tablet" data-ad-refresh="default"></div>
</div>
<div class="ad ad--epic ad--desktop" data-ad-text="show">
    <div data-ad-id="ad_rect_atf_02" data-ad-position="desktop" data-ad-refresh="default">
        <div id="ad_rect_atf_02" class="ad-ad_rect_atf_02 ad-refresh-default adfuel-rendered" style="display: none;" data-google-query-id="COrh-eKK_NkCFVCzTwodJsIP2Q">
            <div id="google_ads_iframe_/8663477/CNN/us/leaf/vls_2__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/8663477/CNN/us/leaf/vls_2" title="advertisement" name="google_ads_iframe_/8663477/CNN/us/leaf/vls_2" width="1" height="2" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe></div>
        </div>
    </div>
</div>
<ul class="cn cn-list-hierarchical-xs cn--idx-5 cn-zoneAdContainer" data-layout="list-hierarchical-xs"></ul>
<div class="el__embedded el__embedded--fullwidth">
    <div class="el__image--fullwidth js__image--fullwidth">
        <div>
            <img class="media__image media__image--responsive" alt="Deputy Blaine Gaskill (left), seen here in a photo taken in 2012 and posted on the St. Mary&amp;#39;s County Sheriff&amp;#39;s Office Facebook page." data-src-mini="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-small-169.jpg" data-src-xsmall="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-medium-plus-169.jpg" data-src-small="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-large-169.jpg" data-src-medium="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-exlarge-169.jpg" data-src-large="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-super-169.jpg" data-src-full16x9="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-full-169.jpg" data-src-mini1x1="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-small-11.jpg" data-demand-load="loaded" data-eq-pts="mini: 0,  xsmall: 221,  small: 308,  medium: 461,  large:  781" src="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-exlarge-169.jpg" data-eq-state="mini xsmall small medium">
                <div class="img__preloader"></div>
                <noscript>&lt;img alt="Deputy Blaine Gaskill (left), seen here in a photo taken in 2012 and posted on the St. Mary&amp;amp;#39;s County Sheriff&amp;amp;#39;s Office Facebook page." class="media__image" src="//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-large-169.jpg"&gt;</noscript>
                <div class="media__caption el__gallery_image-title">
                    <div class="element-raw appearance-fullwidth">Deputy Blaine Gaskill (left), seen here in a photo taken in 2012 and posted on the St. Mary's County Sheriff's Office Facebook page.</div>
                </div>
                <script type="application/ld+json" name="metaScript">{"@context": "http://schema.org","@type": "ImageObject","name": "Deputy Blaine Gaskill (left), seen here in a photo taken in 2012 and posted on the St. Mary&#39;s County Sheriff&#39;s Office Facebook page.","description": "Deputy Blaine Gaskill (left), seen here in a photo taken in 2012 and posted on the St. Mary&#39;s County Sheriff&#39;s Office Facebook page.","url": "//cdn.cnn.com/cnnnext/dam/assets/180320152225-deputy-blaine-gaskill-large-169.jpg",}</script>
                </div>
    </div>
</div>
<div class="zn-body__paragraph">
    <h3><strong>Engaging the shooter</strong></h3>
</div>
<div class="zn-body__read-more">
    <div class="read-more-gradient"></div>
    <div class="read-more-button">
        <div class="read-more-link" id="js-body-read-more">Read More</div>
    </div>
</div>
<div class="zn-body__read-all">
    <div class="zn-body__paragraph">As soon as the gunfire began, Gaskill rushed to the scene. He fired a round at the shooter, who also fired a round at the same time, Cameron said.  </div>
    <div class="zn-body__paragraph">It's not yet clear whether the shooter,  Austin Wyatt Rollins, was felled by the officer's bullet or killed himself. </div>
    <div class="zn-body__paragraph">"DFC [Deputy First Class] Gaskill fired at the shooter ... almost simultaneously as the shooter fired,"  Cameron said. "This is something we train, practice and in reality, hope would never come to fruition. This is our worst nightmare."</div>
    <div class="zn-body__paragraph">Gov. Larry Hogan called Gaskill "a very capable school resource officer who also happened to be a SWAT team member."</div>
    <div class="zn-body__paragraph">"This is a tough guy who apparently closed in very quickly and took the right kind of action," he said. "And while I think it's still tragic, he may have saved other people's lives."</div>
    <div class="zn-body__paragraph">
        <h3><strong>Over in seconds</strong></h3>
    </div>
    <div class="zn-body__paragraph">The incident began in a school hallway at 7:55 a.m., just before classes started. Authorities say Austin, armed with a handgun, shot a female student, with whom he had a prior relationship, and another male student. </div>
    <div class="zn-body__paragraph">Gaskill responded to the scene in less than a minute, the sheriff said. </div>
    <div class="zn-body__paragraph">Cameron said the entire incident took less than a minute, possibly seconds.</div>
    <div class="zn-body__paragraph">The 16-year-old female student is in critical condition with life-threatening injuries, and the 14-year-old male student who was shot is in stable condition.</div>
    <div class="zn-body__paragraph">Gaskill was unharmed. </div>
    <div class="zn-body__paragraph">"He's doing well and we're going to do everything to support and promote him and his well-being," Cameron said. </div>
    <div class="zn-body__paragraph">
        <h3><strong>Playing to a narrative</strong></h3>
    </div>
    <div class="zn-body__paragraph">Gaskill's actions were praised, rightly, across social media. But some -- most notably, the NRA -- held him up as an example of the "good guy with a gun" theory. The theory goes, that bad guys will always find a way to circumvent whatever gun laws are in place. And "to stop a bad guy with a gun," <a href="https://www.cnn.com/2018/02/22/politics/wayne-lapierre-cpac-speech-nra/index.html">as NRA head Wayne Lapierre </a>said, "it takes a good guy with a gun." </div>
    <div class="zn-body__paragraph">"This [Great Mills High School] armed school resource officer, you're not hearing anyone in #MSM talk about it because it disrupts their narrative," <a href="https://twitter.com/NRATV/status/976141132043190272" target="_blank">NRA spokeswoman Dana Loesch said</a> in one of several tweets Tuesday. (MSM is short for mainstream media.)</div>
    <div class="zn-body__paragraph">So far, this year, there have already been <a href="https://www.cnn.com/2018/03/02/us/school-shootings-2018-list-trnd/index.html">17 school shootings where someone was hurt or killed</a>. </div>
    <div class="el__embedded el__embedded--standard">
        <div class="el__storyelement--standard el__article--embed">
            <div class="el__article--teaseimage">
                <a href="/2018/03/02/us/school-shootings-2018-list-trnd/index.html">
                    <img class="media__image media__image--responsive" alt="There has been, on average, 1 school shooting every week this year" data-src-mini="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-small-169.jpg" data-src-xsmall="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-medium-plus-169.jpg" data-src-small="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-large-169.jpg" data-src-medium="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-exlarge-169.jpg" data-src-large="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-super-169.jpg" data-src-full16x9="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-full-169.jpg" data-src-mini1x1="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-small-11.jpg" data-demand-load="loaded" data-eq-pts="mini: 0,  xsmall: 221,  small: 308,  medium: 461,  large:  781" src="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-medium-plus-169.jpg" data-eq-state="mini xsmall">
                        <div class="img__preloader"></div>
                        <noscript>&lt;img alt="There has been, on average, 1 school shooting every week this year" class="media__image" src="//cdn.cnn.com/cnnnext/dam/assets/180320110119-20180320-v2-school-shootings-map-card-large-169.jpg"&gt;</noscript>
                        </a>
            </div>
            <div class="media__caption el__storyelement__title"><span class="el__storyelement__header"><a href="/2018/03/02/us/school-shootings-2018-list-trnd/index.html">There has been, on average, 1 school shooting every week this year</a></span></div>
        </div>
    </div>
    <div class="zn-body__paragraph">In the Parkland shooting, school resource deputy Scot Peterson never entered the building after taking a position outside. He resigned after he was suspended without pay for his inaction. </div>
    <div class="zn-body__paragraph">"Had our resource officer taken action immediately, the result of the Stoneman Douglas Valentine's Day Massacre would have been different," Parkland student Kai Koerber told CNN. </div>
    <div class="zn-body__paragraph">"We might not have had to walk over the bodies of our classmates, once lovely and wonderful people, as we were led away from murderous tragedy."</div>
    <div class="zn-body__paragraph">Speaking to reporters, Dr. James Scott Smith, the superintendent of St. Mary's County's public schools, put the senselessness of it all in perspective.</div>
    <div class="zn-body__paragraph">"It looks as though the SRO [school resource officer] did exactly what the SRO is trained to do, and yet we still have a tragic loss of life," he said. "We still have somebody in critical condition. And we have students at the school and staff at the school impacted."</div>
</div>
<p class="zn-body__paragraph zn-body__footer">CNN's Diane Gallagher contributed to this report.</p>

