body{display: block !important; font-size: 20px;} img {display: none;} input {width: 50px;} #btn-submit {text-align: center; margin-bottom: 20px;} #btn-submit button {font-size: 20px;} .hidden {display: none;} .collect {color: blue;} .wrong {color: red;} #result {background: #EFEFEF; padding: 10px; text-align: center;} #result button {font-size: 16px;}
